.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.title {
    margin-bottom: 50px;
    font-size: 50px;
    color: rgb(113, 118, 118);
    text-transform: uppercase;
}

.feedback_options {
    margin-bottom: 50px;
}

.option_btn {
    padding: 10px;
    font-size: 24px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    cursor: pointer;
}

.option_btn:not(:last-child) {
    margin-right: 60px;
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.title_stat {
    margin-bottom: 10px;
    font-size: 50px;
    color: rgb(113, 118, 118);
    text-transform: uppercase;
}

.votes {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.no_votes {
    font-size: 40px;
    font-weight: 400;
    color:rgb(189, 14, 14);
}

.vote {
    font-size: 40px;
    font-weight: 400;
}

.vote:not(:last-child) {
    margin-bottom: 20px;
}