.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.title {
    margin-bottom: 50px;
    font-size: 50px;
    color: rgb(113, 118, 118);
    text-transform: uppercase;
}

.feedback_options {
    margin-bottom: 50px;
}

.option_btn {
    padding: 10px;
    font-size: 24px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(40, 57, 77);
    transform: scale(1);
    transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.option_btn:not(:last-child) {
    margin-right: 60px;
}

.option_btn:hover,
.option_btn:focus {
    transform: scale(1.1);
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.title_stat {
    margin-bottom: 50px;
    font-size: 50px;
    color: rgb(113, 118, 118);
    text-transform: uppercase;
}

.votes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no_votes {
    padding: 10px;
    font-size: 40px;
    font-weight: 400;
    color:rgb(189, 14, 14);
    border: 2px solid rgb(189, 14, 14);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(189, 14, 14);
}

.vote {
    padding: 10px;
    font-size: 40px;
    font-weight: 400;
    color: rgb(0, 119, 255);
    border: 2px solid rgb(0, 119, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 119, 255);
}

.vote:not(:last-child) {
    margin-bottom: 20px;
}